<hello name="{{ name }}"></hello>
<ol>
  <li>Crear 4 componentes Home, Form, List y Navbar</li>
  <li>Crear la navegación a estos 3 componentes por medio del NavBar y routing</li>
  <li>En el componente Form poner una imagen como un banner y un texto en este componente deberás modificar el fondo, tamaño de letra, colores, etc con estilos CSS</li>
  <li>En el componente Form poner un input que por medio de DataBinding muestre el valor que se escribe dentro de él en una etiqueta H1</li>
  <li>En el componente List mostrar una lista de elementos que se muestran desde una API</li>
</ol>